body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.name-login {
    margin-bottom: 20px;
    margin-top: 100px;
    color: white;
}

.login-container {
    width: 40%;
    margin: auto;
}

.password-login {
    margin-bottom: 50px;
    color:white;
}

.login-title{
    color:white;
    text-align: center;
}

.register-input{
    color:white;
    margin-bottom: 10px;
}

.register-title{
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.register-btn{
    margin-top: 20px;
}
