@page
@model SGQP.Web.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <label>Usuário</label>
    <input type="text" name="username" />

    <label>Password</label>
    <input type="password" name="password" />

    <button type="submit">Login</button>
</form>

