@model SGQP.WebMVC.Models.LoginInputViewModel
@{
    ViewData["Title"] = "Login";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="~/lib/assets/css/normalize.css">
    <link rel="stylesheet" href="~/lib/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="~/lib/assets/scss/style.css">
    <link href="~/lib/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="~/css/site.css" rel="stylesheet"/>
</head>

<body style="background: #131313;">

    <h1 class="login-title">SGQP</h1>

    <div class="login-container">

        <div class="row">
            <form method="post" asp-controller="Account" asp-action="Login" class="login-position">

                <div class="col-md-12 name-login">
                    <label>Nome</label>
                    <input class="form-control" type="text" name="Username" value="@Model.Username" />
                    <span asp-validation-for="Username"
                          class="text-danger"></span>

                </div>

                <div class="col-md-12 password-login">
                    <label>Senha</label>
                    <input class="form-control" type="password" name="Password" value="@Model.Password" />
                    <span asp-validation-for="Password"
                          class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <button class="btn btn-default form-control" type="submit">Cadastrar</button>
                </div>

                <div class="col-md-6">
                    <button class="btn btn-default form-control" type="submit">Login</button>
                </div>

                <div class="col-md-12" style="text-align:center; margin-top: 20px;">
                    <a href="#">Esqueceu sua senha?</a>
                </div>

            </form>

        </div>
    </div>

</body>



