@model MapperViewModels.ViewModels.RegisterUserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="~/lib/assets/css/normalize.css">
    <link rel="stylesheet" href="~/lib/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="~/lib/assets/scss/style.css">
    <link href="~/lib/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body style="background: #131313;">

    <h2 class="register-title">Registre seu perfil</h2>

    <div class="login-container">

        <div class="row">
            <form method="post" asp-controller="Account" asp-action="RegisterUserSave" class="login-position">

                <div class="col-md-12 register-input">
                    <label>E-mail</label>
                    <input class="form-control" type="email" name="Username" value="" />
                    <span asp-validation-for="Username"
                          class="text-danger"></span>
                </div>

                <div class="col-md-12 register-input">
                    <label>Primeiro Nome</label>
                    <input class="form-control" type="text" name="FirstName" value="" />
                    <span asp-validation-for="FirstName"
                          class="text-danger"></span>
                </div>

                <div class="col-md-12 register-input">
                    <label>Último Nome</label>
                    <input class="form-control" type="text" name="LastName" value="" />
                    <span asp-validation-for="LastName"
                          class="text-danger"></span>
                </div>

                <div class="col-md-12 register-input">
                    <label>Senha</label>
                    <input class="form-control" type="password" name="Password" value="" />
                    <span asp-validation-for="Password"
                          class="text-danger"></span>
                </div>

                <div class="col-md-12 register-input">
                    <label>Confirme a Senha</label>
                    <input class="form-control" type="password" name="PasswordConfirmation" value="" />
                    <span asp-validation-for="PasswordConfirmation"
                          class="text-danger"></span>
                </div>

                <div class="col-md-6 register-btn">
                    <button class="btn btn-default form-control" asp-controller="Account" asp-action="Login">Voltar</button>
                </div>

                <div class="col-md-6 register-btn">
                    <button class="btn btn-default form-control" type="submit">Salvar</button>
                </div>

            </form>

        </div>
    </div>

</body>
